---
import YesNo from "@components/YesNo.astro";
import BaseLayout from "src/layouts/BaseLayout.astro";

const aboutContent = await Astro.glob("../content/pages/_about.mdx");
const { Content } = aboutContent[0];
---

<BaseLayout>
    <main slot="main" class="w-full">
        <div class="flex flex-col gap-8 max-w-lg">
            <div class="flex flex-col gap-2">
                <h1 class="text-4xl text-white">About</h1>
            </div>
            <div class="flex flex-col gap-8">
                <div class="card-dark">
                    <Content />
                </div>
                <div class="card-outline flex flex-col gap-8">
                    <h2>Yes</h2>
                    <div class="flex gap-4 flex-wrap">
                        <YesNo
                            yes={true}
                            text="Astro Build"
                            href="https://astro.build"
                        />
                        <YesNo
                            yes={true}
                            text="Tina CMS"
                            href="https://tina.io"
                        />
                        <YesNo
                            yes={true}
                            text="Svelte"
                            href="https://svelte.dev"
                        />
                        <YesNo yes={true} text="Positive Sum Games" />
                        <YesNo yes={true} text="Climbing" />
                        <YesNo yes={true} text="Piano" />
                        <YesNo yes={true} text="Running" />
                        <YesNo yes={true} text="Communities" />
                    </div>
                    <h2>No</h2>
                    <div class="flex gap-4 flex-wrap">
                        <YesNo yes={false} text="Zero Sum Games" />
                        <YesNo yes={false} text="Endocrine Disruptors" />
                        <YesNo yes={false} text="Seed Oils" />
                        <YesNo
                            yes={false}
                            text="Video Game Match Making Algorithms"
                        />
                        <YesNo yes={false} text="PFAS/BPA etc." />
                        <YesNo yes={false} text="Learned helplessness" />
                    </div>
                </div>
            </div>
        </div>
    </main>
</BaseLayout>
