---
import BaseLayout from "../layouts/BaseLayout.astro";

import Quote from "../components/Quote.astro";

const quotes = await Astro.glob("../content/quotes/*.mdx");

const sortedQuotes = quotes.sort((a, b) => {
    return (
        new Date(b.frontmatter.publicationDate).valueOf() -
        new Date(a.frontmatter.publicationDate).valueOf()
    );
});
---

<BaseLayout>
    <main slot="main">
        <div class="flex flex-col gap-8 max-w-lg">
            <h1 class="text-4xl text-white">Quotes</h1>
            {
                quotes.map(({ frontmatter: quote, Content }) => {
                    return (
                        <Quote
                            Content={Content}
                            author={quote.author}
                            note={quote.note}
                            date={quote.publicationDate}
                        />
                    );
                })
            }
            <!-- {
                dummyQuotes.map(({ quote, author, comment, date }) => {
                    return (
                        <Quote
                            quote={quote}
                            author={author}
                            comment={comment}
                            date={date}
                        />
                    );
                })
            } -->
        </div>
    </main>
</BaseLayout>
