---
import className from "classnames";

import Icon from "./Icon.astro";

const { href, text, color, iconName, leading, trailing, iconSize } =
    Astro.props;

const textColor = `text-${color}-950`;
const badgeColor = `bg-${color}-300`;
---

<a
    href=""
    class={className(
        "flex justify-center items-center w-fit gap-2 box-border py-1.5 px-3 text-sm capitalize",
        badgeColor,
        textColor
    )}
    ><Icon color={color} iconName={iconName} iconSize="16px" />
    {text}
</a>
