---
import className from "classnames";

import iconList from "../iconList.js";

import Icon from "./Icon.astro";

const { href, text, color, iconName, leading, trailing, iconSize } =
    Astro.props;

const iconPath = iconList[iconName];

const textColor = `text-${color}-950`;
const badgeColor = `bg-${color}-300`;
const fillColor = `fill-${color}-300`;
---

<a
    href=""
    class={className(
        "flex justify-center items-center w-fit gap-2 box-border py-1.5 px-3 text-sm capitalize",
        badgeColor,
        textColor
    )}
    ><Icon
        fillColor={fillColor}
        iconPath={iconPath || iconList.empty}
        iconSize={iconSize}
    />
    {text}
</a>
