---
const { name, description, date, status, cover, href } = Astro.props;
import { Image } from "@astrojs/image/components";
import Badge from "./Badge.astro";
import Button from "./Button.astro";
---

<a class="flex flex-col" href={href}>
    <div class="flex flex-col border-2 border-l-0 border-slate-700">
        <div class="relative">
            <Image src={cover} />
            <Badge
                text={status}
                noAnchor={true}
                extraClasses="ml-6 absolute top-6 right-6"
            />
        </div>
        <div class="flex flex-col gap-2 p-6">
            <p>{date}</p>
            <h2>{name}</h2>
            <p class="mb-4">{description}</p>
            <p
                class="inline-block w-fit text-xs uppercase tracking-widest font-bold px-6 py-4 hover:translate-x-1 transition-all ease-out duration-300 self-end text-slate-400"
            >
                View project →
            </p>
        </div>
    </div>
</a>
