---
const { name, description, date, status } = Astro.props;
import Image from "astro/components/Image.astro";
import Badge from "./Badge.astro";
import Button from "./Button.astro";
---

<div class="flex flex-col">
    <Badge text={status} noAnchor={true} extraClasses="ml-6 mb-6" />
    <div class="flex flex-col p-6 gap-2 border-2 border-l-0 border-slate-700">
        <p>{date}</p>
        <h2>{name}</h2>
        <p class="mb-4">{description}</p>
        <Button
            style="naked"
            text="View project →"
            href="#"
            extraClasses="self-end"
        />
    </div>
</div>
