---
import ProjectsPageItem from "../../components/ProjectsPageItem.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const projects = await Astro.glob("../../content/projects/*.mdx");

const projectsSorted = projects.sort((a, b) => {
    return (
        new Date(b.frontmatter.date).valueOf() -
        new Date(a.frontmatter.date).valueOf()
    );
});
---

<BaseLayout>
    <main slot="main">
        <div class="flex flex-col gap-8 max-w-lg">
            <div class="flex flex-col gap-2">
                <h1 class="text-4xl text-white">Projects</h1>
                <p>A portfolio of small bets.</p>
            </div>
            <div
                class="border-l-2 border-dashed border-slate-700 flex flex-col gap-8 py-6"
            >
                {
                    projects.map(({ frontmatter }) => {
                        return (
                            <ProjectsPageItem
                                title={frontmatter.title}
                                date={frontmatter.date}
                                description={frontmatter.description}
                                status={frontmatter.status}
                                cover={frontmatter.cover}
                            />
                        );
                    })
                }
            </div>
        </div>
    </main>
</BaseLayout>
